include ../_helpers/rel-path.jade
include ../_helpers/lang.jade

- var lang = lang();

div.main-footer
  h5.copyright © #{i18n[lang].company_name}, #{i18n[lang].copyright_year}. #{i18n[lang].copyright_text}    
