include ../_helpers/rel-path.jade
include ../_helpers/lang.jade

- var lang = lang();

div.main-header.clearfix
  h2.main-header-title #{i18n[lang].global_title}
  a(class="main-header-logo" href="http://#{site_link}")
    img(src=relPath("./theme/img/micard_logo.png"))