include ../_helpers/rel-path.jade
include ../_helpers/lang.jade

- var lang = lang()

mixin toc(item, path)
  li(class=item.index ? "section" : "")
    - var href = relPath(path + (item.index ? "/index.html" : ".html"))
    a(href=href)= item.title
  if item.children
    ul
      for child, child_slug in item.children
        +toc(child, path + "/" + child_slug)

div.sidebar
  h2 #{i18n[lang].menu_title}
  ul
    - var lang = current.path[1]
    for item, slug in public.docs[lang]._data
      +toc(item, docs_catalog_name + "/" + lang + "/" + slug)
