@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../font/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: bold;
  src: url("../font/OpenSans-BoldItalic.ttf");
}