@import '_font.styl'

font_base     = "Open Sans", Helvetica, Arial, sans-serif
font_size     = 16px

color_background       = #fff
color_sidebar          = #f6f6f6
color_base             = #555459
color_link             = #3CABD9
color_secondary        = #99968A

//#162955

html, body {
  font-family: font_base;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: font_size;
  line-height: 1.6rem;
  background: color_background;
  color: color_base;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/* CONTENT */
h1, h2, h3, h4
  font-weight bold
  line-height 1 !important

li
  padding-bottom .5rem
  position relative

h1
  font-size 1.9rem
h2
  font-size 1.4rem
h3
  font-size 1.2rem
h4
  font-size 1rem

strong
  font-weight bold

i, em
  font-style italic

a
  color color_link
  text-decoration none
  &:hover
    color color_link
    text-decoration underline

/* MAIN */
.hero {
  width: 600px;
  margin: 3rem auto;
}

.sidebar {
  float: left;
  position: relative;
  height: 100%;
  background: color_sidebar;
  width: 25%;
  min-width: 380px;
  padding: 0 15px;
  overflow-y: auto;
  border-right: 1px solid #eee;
  line-height: 1rem;

  .section {
    font-weight: bold;
  }

  & {
    h2 {
      padding-left: 2rem;
      color: #444;
    }
    ul {
      list-style: none;
      padding-left: 2rem;
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  position: relative;
  margin: 2rem 0 0 0;

  .main-header-title {
    color: #777777;
    display: block;
    width: 75%;
    text-align: left;
  }

  .main-header-logo {
    position: absolute;
    top: -24px;
    right: 0;
    width: 140px;
    margin: 0 auto;
    img {
      border: none !important;
      opacity: 1;
      width: 140px;
    }
  }
}

.main-footer {
  margin-top: 2rem;
  border-top: 1px solid #ddd;
  padding: 1rem;
  .copyright {
    display: block;
    width: 410px;
    margin: 0 auto;
    text-align: center;
  }
  .footer-logo {
    display: block;
    width: 140px;
    margin: 0 auto;
    img {
      border: none !important;
      opacity: 1;
      width: 140px;
    }
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 0 1.5rem;
  text-align: justify;
}

.content img
  max-width 100%
  background-color: #fff
  border: 1px solid #efefef;
  padding: 2px;

.content em > img {
  border: none;
  padding: 0;
  max-width: 45%;
  vertical-align: middle;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto; 
}