include ./_helpers/rel-path.jade
include ./_helpers/lang.jade

- var lang = lang();

doctype
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href=relPath("./theme/css/main.css"))
    if current.path[0] === docs_catalog_name
      title #{i18n[lang].global_title}

  body
    if current.path[0] === docs_catalog_name && current.source != "404"
      != partial("/docs/_docs_layout")
    else
      != yield
