- var default_docs_index_page = "docs/ru/overview/index.html"

div.hero
  h2 Похоже, что справочная статья по данному пути не существует.
  p Вы будете перемещены через #[span#redirect_remaining_time 5] сек.
  b
    a(href="#{default_docs_index_page}") Перейти сейчас

script.
  var redirect_remaining_time = 5;
  var $time_element = document.getElementById('redirect_remaining_time');
  var timerId = setInterval(function () {
      $time_element.innerHTML = --redirect_remaining_time;
      if (!redirect_remaining_time) {
          clearInterval(timerId);
          window.location.href = "#{default_docs_index_page}";   
      }      
  }, 1000);
